* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.default {
    background-color: #CABAC8;
}

.green {
  background-color: #beef9e;
}

.yellow {
  background-color: #f6ae2d;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212922;
  flex-direction: column;
}

#wrapper {
  width: 500px;
  flex-wrap: wrap;
}

.square {
  flex-basis: calc((100% / 6) - 10px);
  height: 70px;
  border: 1px solid #000;
  box-shadow: 1px 1px 5px 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn {
  cursor: pointer;
  background-color: #A52422;
  border-color: #A52422;
  color: #212922;
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
  padding: 1% 2%;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  box-shadow: 1px 1px 5px 1px #000;

}

#btn:hover {
  background-color: #D53734;
}
